# Ignore all back-up files...
*~
*.bak

# Exclude Kdevelop4 files ...
.kdev*

# Exclude QtCreator files ...
CMakeLists.txt.user*
CMakeCache.txt
CMakeFiles/cmake.check_cache

# VS Code files ...
.vscode/
.history/
*.vsix

# ignore ctags file
tags
